<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SOS Squad</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="/">Home</a></li>
                    <li role="presentation"><a href="alerts">View Alerts</a></li>
                    <li role="presentation"><a href="show_signup">Offer Supplies</a></li>
                    <li role="presentation"><a href="show_available_supplies">View Available Supplies</a></li>
                    <li role="presentation"><a href="show_requests">Request Supplies</a></li>
                    <li role="presentation"><a href="see_requests">View Requests</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Alerts</h3>
        </div>

        <div class="jumbotron">
            <h3>Real-Time Weather Alerts</h3>
            <h4>If you would like to volunteer in person, please find an affected location in the list below and enter the coordinates into the form to find flights and hotels nearby.</h4>
            <form action = "{{ url_for('get_flights') }}" method = "POST">
                <div class="form-group">
                  <label for="departureInput">Departure Airport Code</label>
                  <input type="text" class="form-control" id="departureInput" name="name" placeholder="e.g. LAX">
                </div>
                <div class="form-group">
                  <label for="latInput">Destination Latitude</label>
                  <input type="text" class="form-control" id="latInput" name="latitude" placeholder="e.g. 34.22">
                </div>
                <div class="form-group">
                  <label for="lonInput">Destination Longitude</label>
                  <input type="text" class="form-control" id="lonInput" name="longitude" placeholder="e.g. 34.22">
                </div>
                <input class='btn btn-success' role='button' type = "submit" value = "Get Flights" /><br>
            </form>
            <p class="lead"></p>
        </div>
 
        <div class="jumbotron">
            <h5>{{ data | safe }}</h5>
        </div>
 
    </div>
</body>
 
</html>