<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SOS Squad</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="/">Home</a></li>
                    <li role="presentation"><a href="show_signup">Sign Up</a></li>
                    <li role="presentation"><a href="active">View Alerts</a></li>
                    <li role="presentation"><a href="show_available_supplies">Show Available Supplies</a></li>
                    <li role="presentation"><a href="request_supplies">Request Supplies</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Alerts</h3>
        </div>

        <div class="jumbotron">
            <h1>Real-Time Weather Alerts</h1>
            <form action = "{{ url_for('signup') }}" method = "POST">
                <div class="form-group">
                  <label for="departureInput">Departure Airport Code</label>
                  <input type="text" class="form-control" id="departureInput" name="name" placeholder="e.g. LAX">
                </div>
                <div class="dropdown">
                  <button class="btn btn-secondary btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Arrival Destination</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
            </form>
            <p class="lead"></p>
        </div>
 
        <div class="jumbotron">
            <h5>{{ data | safe }}</h5>
        </div>
 
    </div>
</body>
 
</html>