<!DOCTYPE html>
<html lang="en">

<head>
    <title>SOS Squad</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="/">Home</a></li>
                    <li role="presentation"><a href="alerts">View Alerts</a></li>
                    <li role="presentation"><a href="show_signup">Offer Supplies</a></li>
                    <li role="presentation"><a href="show_available_supplies">View Available Supplies</a></li>
                    <li role="presentation"><a href="show_requests">Request Supplies</a></li>
                    <li role="presentation"><a href="see_requests">View Requests</a></li>
            </nav>
            <h3 class="text-muted">SOS Squad</h3>
        </div>

        <div class="jumbotron">
            <h1>Facilitating community after natural disasters</h1>
            <h2>Get help and supplies to help your community rebuild, or find out how you can help those affected.</h2>
            <p class="lead"><br><br></p>
        </div>

        <div>
            <div class="col-sm-6">
                <h2>For volunteers:</h2>
                <p><a class="btn btn-lg btn-success" href="alerts" role="button">View alerts</a></p>
                <p><a class="btn btn-lg btn-success" href="alerts" role="button">Volunteer in person</a></p>
                <p><a class="btn btn-lg btn-success" href="show_signup" role="button">Sign up to offer supplies</a></p>
                <p><a class="btn btn-lg btn-success" href="see_requests" role="button">View requests</a></p>
            </div>
            <div class="col-sm-6">
                <h2>For affected communities:</h2>
                <p><a class="btn btn-lg btn-success" href="alerts" role="button">View alerts</a></p>
                <p><a class="btn btn-lg btn-success" href="show_available_supplies" role="button">Search for available supplies</a></p>
                <p><a class="btn btn-lg btn-success" href="show_requests" role="button">Request supplies</a></p>

            </div>
        </div>
    </div>
</body>

</html>
