<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SOS Squad</title>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="alerts">View Alerts</a></li>
            <li role="presentation"><a href="show_signup">Offer Supplies</a></li>
            <li role="presentation"><a href="show_available_supplies">View Available Supplies</a></li>
            <li role="presentation"><a href="show_requests">Request Supplies</a></li>
            <li role="presentation"><a href="see_requests">View Requests</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Request Supplies</h3>
      </div>
 
      <div class="jumbotron">
        <form action = "{{ url_for('request_supplies') }}" method = "POST">
         <h3>Fill out this form to request supplies.</h3>
         <div class="form-group">
              <label for="nameInput">Name</label>
              <input type="text" class="form-control" id="nameInput" name="name" placeholder="Enter name">
         </div>
         <div class="form-group">
              <label for="phoneInput">Phone Number</label>
              <input type="text" class="form-control" id="phoneInput" name="phone" placeholder="(###)-###-####">
         </div>
         <div class="form-group">
              <label for="locationInput">Location</label>
              <input type="text" class="form-control" id="locationInput" name="location" placeholder="Enter location">
         </div>
         <div class="form-group">
              <label for="itemInput">Item</label>
              <input type="text" class="form-control" id="itemInput" name="item" placeholder="What are you requesting?">
           </div>
         
          <input class='btn btn-success' role='button' type = "submit" value = "Submit" /><br>      
        </form>

      <div>
        {{ msg }}
      </div>
      </div>
 
 
    </div>
  </body>
</html>