<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SOS Squad</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="active">Sign Up</a></li>
            <li role="presentation"><a href="alerts">View Alerts</a></li>
            <li role="presentation"><a href="show_available_supplies">Show Available Supplies</a></li>
            <li role="presentation"><a href="request_supplies">Request Supplies</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Sign Up to Help</h3>
      </div>
 
      <div class="jumbotron">
        <form action = "{{ url_for('signup') }}" method = "POST">
         <h3>Sign up to Offer Supplies</h3>
         Name<br>
         <input type = "text" name = "name" /></br>
         
         Phone<br>
         <input type="text" name = "phone" /></br>
         
         Location<br>
         <input type = "text" name = "location" /><br>
         
         Supply<br>
         <input type = "text" name = "supply" /><br>
         <input type = "submit" value = "Submit" /><br>
      </form>

      <div>
        {{ msg }}
      </div>
      </div>
 
 
    </div>
  </body>
</html>